<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Notes</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<div class="container">
    <meta charset="utf-8">

    <h1>
        <a href="/">Etiquetas</a>
    </h1>

    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">Upload File</button>
    </form>

    <p id="message" th:text="${message}" />
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="label : ${labelList}">
            <td style="text-align: right" th:text="${label.code}"></td>
            <td style="text-align: right" th:text="${label.description}"></td>
            <td style="text-align: right" th:text="${label.price}"></td>
        </tr>
        </tbody>
    </table>



</div>
</body>
</html>
