<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Notes</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="container">

    <a href="/"><h1>Etiquetas</h1></a>

    <label for="code">Codigo</label>
    <p id="code" th:text="${label.code}" />

    <label for="description">Title</label>
    <p id="description" th:text="${label.description}" />

    <label for="price">Content</label>
    <p id="price" th:text="${label.price}" />

    <label for="imageUrl">Content</label>
    <p id="imageUrl" th:text="${label.imageUrl}" />

    <img th:src="@{'uploads/images/' + ${label.imageUrl}}"/>


    </form>
    <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Back</a>

</div>

</body>
</html>